<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="geogig"
            id="com.camptocamp.sbb">
      </category>
      <view
            name="Geogig Branches"
            icon="icons/sample.gif"
            category="com.camptocamp.sbb"
            class="com.camptocamp.sbb.views.BranchTypeView"
            id="com.camptocamp.sbb.views.BranchView">
      </view>
      <view
            category="geogig"
            class="com.camptocamp.sbb.views.GeogigLogViewer"
            id="com.camptocamp.sbb.views.GeogigLogViewer"
            name="Geogig LogView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.camptocamp.sbb.SBBPerspectiveFactory1"
            fixed="true"
            id="com.camptocamp.sbb.perspective1"
            name="SBB">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.camptocamp.sbb.Startup">
      </startup>
   </extension>

</plugin>
