<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="geogig"
            id="com.camptocamp.sbb">
      </category>
      <view
            name="Geogig Branches"
            icon="icons/sample.gif"
            category="com.camptocamp.sbb"
            class="com.camptocamp.sbb.views.BranchTypeView"
            id="com.camptocamp.sbb.views.BranchView">
      </view>
      <view
            category="com.camptocamp.sbb"
            class="com.camptocamp.sbb.views.GeogigLogViewer"
            id="com.camptocamp.sbb.views.GeogigLogViewer"
            name="Geogig LogView"
            restorable="true">
      </view>
      <view
            category="com.camptocamp.sbb"
            class="com.camptocamp.sbb.views.WPSView"
            id="com.camptocamp.sbb.views.WPS"
            name="Web Processing"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.camptocamp.sbb.SBBPerspectiveFactory1"
            fixed="true"
            id="com.camptocamp.sbb.perspective1"
            name="SBB">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.camptocamp.sbb.Startup">
      </startup>
   </extension>
   <extension
         point="org.locationtech.udig.project.layerInterceptor">
      <layerAdded
            class="com.camptocamp.sbb.GeogigConflictStyle"
            id="com.camptocamp.sbb.layerAdded1">
      </layerAdded>
   </extension>
   <extension
         point="org.locationtech.udig.style.sld.StyleEditorPage">
      <StyleEditorPage
            class="com.camptocamp.sbb.style.GeoserverStyleEditorPage"
            contentType="org.locationtech.udig.project.ILayer"
            id="com.camptocamp.sbb.GeoserverStyling"
            label="Geoserver"
            requires="org.geotools.data.FeatureSource">
      </StyleEditorPage>
   </extension>
   <extension
         point="org.locationtech.udig.project.ui.tool">
      <actionTool
            class="com.camptocamp.sbb.AddPOI"
            id="com.camptocamp.sbb.AddPOI"
            name="Add Poi Layer"
            onToolbar="true">
         <enablement></enablement>
      </actionTool>
   </extension>
   <extension
         point="org.locationtech.udig.project.featureInterceptor">
      <featureCreated
            class="com.camptocamp.sbb.SbbPoiFeatureInterceptor1"
            id="com.camptocamp.sbb.featureCreated1"
            name="SBB Poi Feature Editor ">
      </featureCreated>
   </extension>

</plugin>
